<% if @user = current_user %>
<h1><%= @user.name %>さん、シ・ル・ブ・プ・レ♪</h1>
<% else %>
<h1>運命とは避けがたく時に儚いもの</h1>

<p>Ruby on Railsでそれなりの開発をやってみたくなったのに、スキルもないし教えてくれる人もいないこともあるように、運命とは避けがたく時に儚いもの。</p>

<h2>これはなに?</h2>

<a href='http://www.agqr.jp/pginfo/2013/04/post-294.php' target='_blank'>文化放送『碧と彩奈のラ・プチミレディオ』</a>のエンディングの、
<b>〜たら (のに) 、〜こともあるように、運命とは避けがたく時に儚いもの</b> というフレーズにインスパイアされて、ひたすらそれを共有して「ワカル」とか言い合うWebアプリを作ろうって、そう思ったんだ。<br>
正直まだ何も実装できていません。ログインはTwitterとFacebookでできますよ。投稿などの権限は要求しないので、気軽に認証してみてください。

<h2>誰か助けて</h2>
開発者は<a href='https://twitter.com/_7kry' target='_blank'>私</a>です。<br />
ソースコードは<a href='https://github.com/7kry/hakanai' target='_blank'>ここ</a>にあります。バグ報告とかも<a href='https://github.com/7kry/hakanai/issues' target='_blank'>こっち</a>でおねがいします。<br />
なんとなくお察しいただけるかとは思いますが、開発者はWebアプリ開発やらWebデザインやらが滅法できません。誰か教えてくだされ〜。
<% end %>
